#electric{
    background-image: url("../images/mini_electric.png");
   
}

.thumbnail-electric{
    background-color: #00000030;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("../images/mini_electric.png");
    background-size: cover;
    background-position: center;
    margin-top: 250px;
    margin-bottom: 10px;
}


.electric-title{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 24px;
    margin-left: 100px;
}

.electric-desc{
    width: 400px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 100px;
}